<p class="col-sm-12 text-center lead">
  Hello! Create a customized retro jersey for yourself.
</p>

<app-jersey-style
  (selectBaseEvent)="selectBaseHandler($event)"></app-jersey-style>


 <app-jersey-text
  *ngIf="jersey.base"
  (selectFontEvent)="selectFontHandler($event)"
  (selectJerseyNumberEvent)="selectNumberHandler($event)"
  (addTextEvent)="addTextHandler($event)" (selectPrimaryColorEvent)="selectPriColorHandler($event)" (selectSecondaryColorEvent)="selectSecColorHandler($event)"></app-jersey-text>

 <app-jersey-extras *ngIf="jersey.base" (selectBadgeEvent)="selectBadgeHandler($event)" (selectBadgePositionEvent)="selectBadgePositionHandler($event)"></app-jersey-extras>


 <app-jersey-preview *ngIf="jersey && jersey.base" [jersey]="jersey"></app-jersey-preview>

 <div class="row">
 	<div class="col-sm-12 text-center">
 		<p class="form-text text-muted" *ngIf="jersey.base">
 			Preview your jersey above. <br>
 			Click the button below when you're happy with the changes.
 		</p>
 		<p>
 			<button class="btn btn-success btn-lg" *ngIf="jersey.base" [disabled]="!done" (click)="submit()" routerLink="/jersey/complete">Done</button>
 		</p>
 	</div>
 </div>